body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-group {
  width: 25%;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
}

.grid-div {
  display: flex;
  justify-content: center;
}

.game-div {
  width: 80%;
  margin: 1% auto;
}

.actual-grid {
  margin: 0 auto;
}

.inputs form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.inputs form p {
  margin: 1%;
}

.inputs {
  text-align: center;
}
